<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG_Practice.DependenciesManagement"/>
      <class name="testNG_Practice.AnnotationsHierachyExample"/>
      <class name="dataDrivenFramework.DataDrivenWithXlsSheet"/>
      <class name="testNG_Practice.ExtentReportExample"/>
      <class name="testNG_Practice.ListenerCheckUp"/>
      <class name="testNG_Practice.PrintGoogleSuggestions"/>
      <class name="windowsHandling.Registration"/>
      <class name="testNG_Practice.DataDrivenExample"/>
      <class name="testNG_Practice.SuiteExample"/>
      <class name="testNG_Practice.PrioritAndSkip"/>
      <class name="testNG_Practice.GroupingExample"/>
      <class name="windowsHandling.Job_Applying"/>
    </classes>
  </test>
</suite> 
